/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: var(--main-color);
}

ul {
    list-style: none;
}
::-webkit-scrollbar {
    width: 1.1rem;
}

::-webkit-scrollbar-track {
    border: 5px double var(--scand-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(230deg, var(--thee-color), var(--scand-color));
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, var(--main-color), var(--scand-color));
    border-radius: 10px;
}
/* for Firefox */
html {
    scrollbar-color: var(--main-color), var(--scand-color);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Varible */
:root {
    --main-color: #f5f5f5;
    --scand-color: #647E7F;
    --thee-color: #141f1e;
    --white-color: white;
    --shadow-color: #676767;
}

/* End Varible */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    Z-INDEX: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 70px;
}

header .container::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: calc(100% - 30px);
    height: 1px;
    bottom: 11px;
    left: 15px;
}

header .container a img {
    width: 50px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container .toggle-menu {
    color: white;
    font-size: 22px;
    padding-left: 10%;
}

@media (min-width: 991px) {
    header .container .toggle-menu {
        display: none;
    }
}

header .container nav p {
    color: white;
    position: relative;
    width: calc(100% - 20%);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: Aaya 5s linear infinite;
}

header .container nav p:hover {
    animation: none;
    color: var(--main-color);
}

@keyframes Aaya {

    0%,
    18%,
    20%,
    50.1%,
    65.1%,
    80%,
    90.1%,
    93% {
        color: var(--thee-color);
        box-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: var(--main-color);
        text-shadow: 0 0 10px var(--main-color),
            0 0 20px var(--white-color),
            0 0 40px var(--white-color),
            0 0 80px var(--white-color),
            0 0 160px var(--white-color), ;
    }
}

header .container nav ul {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    ;
}

@media (min-width: 991px) {
    header .container nav ul {
        padding-left: 0px;
    }
}

@media (max-width: 991px) {
    header .container nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        top: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: rgb(0 0 0 / 65%);
    }

    header .container nav ul li a:hover,
    header .container nav ul li a.active {
        color: var(--scand-color);
        border-bottom: 1px solid var(--scand-color);
    }
}

header .container nav ul li a {
    color: var(--main-color);
    text-decoration: none;
    display: block;
    font-size: 15px;
    transition: 0.2s;
    padding: 15px;
    font-weight: bold;
    position: relative;
    z-index: 3;
}

@media (min-width: 992px) {

    header .container nav ul li a:hover,
    header .container nav ul li a.active {
        color: var(--three-color);
        border-bottom: solid 2px var(--thee-color);
    }
}

header .container nav .form {
    width: 40px;
    height: 25px;
    position: relative;
    border-left: 1px solid var(--main-color);
    margin-left: 50px;
}

@media (max-width: 767px) {
    header .container nav .form {
        margin-left: 20px;
    }
}

header .container nav .form i {
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    margin-left: 10px;
}

header .container nav .form:hover i {
    transform: rotateZ(1turn);
    color: var(--thee-color);
}

/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: var(--scand-color);
    background-image: url(../images/quran1.jpg);
    background-size: cover;
    position: relative;
}

.landing .text {
    direction: rtl;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.landing .text .contact {
    width: 70%;
    color: var(--main-color);
    padding: 30px 150px 30px 30px;
    background-color: #141f1e80;
}

.landing .text .contact h2 {
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.landing .text .contact p {
    line-height: 1.7;
    font-size: 20px;
    font-weight: 600;
}

.landing .text .contact p span {
    font-weight: bold;
}

@media (max-width: 767px) {
    .landing .text .contact {
        padding: 30px;
        width: 100%;
    }
}

.landing .change-background {
    color: var(--main-color);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.landing .change-background:hover {
    animation-play-state: paused;
}

.landing .fa-angle-left {
    left: 30px;
    animation-name: Left;
}

@keyframes Left {
    0% {
        left: 15px;
    }

    50% {
        left: 30px;
    }

    100% {
        left: 15px;
    }
}

.landing .fa-angle-right {
    right: 30px;
    animation-name: Right;
}

@keyframes Right {
    0% {
        right: 15px;
    }

    50% {
        right: 30px;
    }

    100% {
        right: 15px;
    }
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    width: 60px;
    justify-content: space-between;
}

.landing .bullets li {
    border: solid 1px var(--main-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation-name: list;
    animation-duration: 3s;
}

.landing .bullets li:nth-of-type(2) {
    animation-delay: 3s;
}

.landing .bullets li:nth-of-type(3) {
    animation-delay: 6s;
}

.landing .bullets li:hover {
    animation-play-state: paused;
}

@keyframes list {
    0% {
        background-color: var(--scand-color);
        border-color: var(--scand-color);
    }

    50% {
        background-color: var(--scand-color);
        border-color: var(--scand-color);
    }

    100% {
        background-color: var(--scand-color);
        border-color: var(--scand-color);
    }
}

/* End Landing */
/* Start Services */
.befor-services {
    padding: 60px 0px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.befor-services .cube {
    position: relative;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.befor-services .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d
}

.befor-services .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: linear-gradient(var(--thee-color), var(--main-color));
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    border-radius: 10px;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: var(--thee-color);
    transform: rotateX(90deg) translateZ(43px);
    border-radius: 10px;
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transform: translateZ(-85px);
}

.befor-services .water {
    width: 50px;
    height: 50px;
    background-color: var(--thee-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    animation: water 3s linear infinite;
}

@keyframes water {
    0% {
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    .befor-services {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 40px;
        justify-content: space-around;
    }
}

.container h1 {
    text-align: center;
    margin: 10px 0px 90px;
    font-size: 60px;
    font-weight: bold;
    color: var(--thee-color);
}

.container .services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    direction: rtl;
    gap: 80px 10px;
    margin: 60px 0px;
}

.container .services .box {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 0.50px 0.60px var(--thee-color),
        0 0 6.9px 0.80px var(--scand-color);
    position: relative;
}

.container .services .box:hover {
    box-shadow: 0 0 0.80px 0.90px var(--thee-color),
        0 0 8.0px 2.0px var(--scand-color);
}

.container .services .box .head {
    position: absolute;
    top: -41px;
    left: 50%;
    background-color: var(--scand-color);
    color: var(--main-color);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
}

.container .services .box .body {
    padding: 30px;
}

.container .services .box .body ul {
    background: var(--scand-color);
    color: var(--main-color);
    border-radius: 10px;
    list-style: initial;
}

.container .services .box .body ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: solid 1px var(--main-color);
}

.container .services .box .body ul li:hover {
    color: var(--thee-color);
}

.container .services .box button a{
    color: var(--main-color);
    background: var(--thee-color);
    padding: 5px;
    outline: none;
    border-radius: 10px;
    position: absolute;
    bottom: -16px;
    left: 43%;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.container .services .box button a:hover {
    transform: scale(1.3, 1.3);
}

/* End Services */
/* Start Sections */
.before-sections {
    position: relative;
    margin: 60px 0;
}

.before-sections video {
    width: 100%;
}

.before-sections .video::before {
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.before-sections .text {
    background-color: #647e7f9a;
    height: 200px;
    direction: rtl;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;

}

.before-sections .text q {
    color: var(--main-color);
    font: 30px bold;
    position: relative;
    top: 30%;
}

.before-sections .text q::after {
    font-family: "Font Awesome 5 Free";
    content: "\f100";
    font-weight: 900;
    animation: qoutt 3s linear infinite;
    position: relative;
}

@keyframes qoutt {
    0% {
        right: 0px;
        color: var(--main-color);
    }

    50% {
        right: 5px;
        color: var(--thee-color);
    }

    100% {
        right: 0px;
        color: var(--main-color);
    }
}

.before-sections .text q::before {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-weight: 900;
    animation: qout 3s linear infinite;
    position: relative;
}

@keyframes qout {
    0% {
        left: 0px;
        color: var(--main-color);
    }

    50% {
        left: 5px;
        color: var(--thee-color);
    }

    100% {
        left: 0px;
        color: var(--main-color);
    }
}

.sections {
    direction: rtl;
}

.sections .container .shuffle {
    width: 350px;
    margin: 0px auto 20px;
    box-shadow: 0 6px 17px 0 var(--shadow-color);
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

.sections .container .shuffle .active {
    background-color: var(--scand-color);
}

.sections .container .shuffle>li {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.sections .container .shuffle>li:hover {
    background-color: var(--scand-color);
}

.sections .container .shuffle>li:hover ul {
    display: block;
}

.sections .container .shuffle>li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--thee-color);
}

.sections .container .shuffle ul {
    position: absolute;
    top: 39px;
    left: -40px;
    width: 220px;
    box-shadow: 0 6px 17px 0 var(--shadow-color);
    display: none;
    border-radius: 10px;
}

.sections .container .shuffle ul::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    border-bottom: solid var(--main-color) 6px;
    left: 70px;
    top: -6.5px;
}

.sections .container .shuffle ul li a {
    padding: 10px;
    display: block;
    border-radius: 10px;
}

.sections .container .shuffle ul li:hover {
    background-color: var(--scand-color);
    border-radius: 10px;
}

.sections .container .shuffle ul li a:hover {
    color: var(--main-color);
}

.sections .container .contant {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;

}

.sections .container .contant .min-con {
    width: 25%;
    overflow: hidden;
    position: relative;
}

@media (max-width: 991px) {
    .sections .container .contant {
        justify-content: space-between;
    }

    .sections .container .contant .min-con {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .sections .container .contant {
        overflow: auto;
        flex-direction: column;
        height: 300px;
    }

    .sections .container .contant .min-con {
        width: 50%;
    }
}

.sections .container .contant .min-con:hover .text {
    right: 10px;
}

.sections .container .contant .min-con:hover .overflwo {
    right: 0;
}

.sections .container .contant .min-con img {
    max-width: 100%;
    position: relative;
}

.sections .container .contant .min-con .text {
    color: var(--main-color);
    position: absolute;
    top: 10px;
    right: -400px;
    /* padding: 10px; */
    z-index: 1;
    transition: 0.420s;
}

.sections .container .contant .min-con .text h4 {
    margin: 10px 0;
}

.sections .container .contant .min-con .overflwo {
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    right: -400px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}

.sections .container button {
    margin: 50px auto;
    background: var(--scand-color);
    padding: 15px 30px;
    border: none;
    transition: 0.3s;
    color: var(--main-color);
    display: block;
}

.sections .container button:hover {
    color: var(--thee-color);
}

.teachers {
    background-image: linear-gradient(var(--scand-color), var(--thee-color));
    border-radius: 10px;
    margin-bottom: 50px;
}
.teachers h1 {
    margin-top: 60px;

}

.teachers .copnt-1 {
    display: flex;
    gap: 50px;
    overflow: auto;
}

.teachers .copnt-1 .info {
    margin-top: 30px;
    margin-bottom: 60px;
}

.teachers .copnt-1 .info .image {
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

.teachers .copnt-1 .info .image:hover .soshal {
    bottom: -27px;
}

.teachers .copnt-1 .info .image:hover {
    overflow: visible;
}

.teachers .copnt-1 .info .image img {
    width: 100%;
    border-radius: 10px;
    filter: grayscale(1);
    overflow-x: scroll;
}
.teachers .copnt-1 .info .image img:hover {
    filter: none;
}

.teachers .copnt-1 .info .soshal {
    text-align: center;
    background-color: var(--main-color);
    transition: 0.4s;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);

}

.teachers .copnt-1 .info .soshal h3 {
    font-size: 26px;
    font-weight: bold;
    color: var(--thee-color);
    padding: 20px 0;
}

.teachers .copnt-1 .info .soshal p {
    color: var(--thee-color);
    padding: 30px 0 20px;
}

.teachers .copnt-1 .info .soshal i {
    margin-left: 10px;
    color: var(--scand-color);
    transition: 0.3s;
}
.teachers .copnt-1 .info .soshal i:hover {
    transform: translateY(-2px);
}
/* End Sections */
/* Start students */
.before-students {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--thee-color);
    min-height: 60vh;
}
.loder {
    position: relative;
    width: 300px ;
    height: 300px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25);
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loder::before {
    content: "";
    position: absolute;
    inset: 40px;
    border: 3px dashed #333;
    box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: 10;
}
.loder::after {
    content: "القرآن الكريم";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px dashed var(--main-color);
    box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 11;
}
.loder span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: transparent;
    transform-origin: top left;
    overflow: hidden;
    animation: سهم 2s linear infinite;
}
@keyframes سهم  {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loder span::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transform-origin: top left;
    transform: rotate(35deg);
    filter: blur(30px) drop-shadow(50px 50px 50px var(--thee-color));
    opacity: 0.75;
}

.students .container .stud-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.students .container .stud-cont img {
    width: 50px;
    height: 70px;
    position: relative;
    top: 48px;
    left: -12.5px;
    border-radius: 50%;
    transition: 0.3s;
}
.students .container .stud-cont .text {
    max-width: 290px;
}
.students .container .stud-cont .persen {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
    background-image: url("../images/gradienta-ix_kUDzCczo-unsplash.jpg");
    background-size: cover;
    border-radius: 10px;
    transition: 0.3s; 
}
@media (max-width: 450px) {
    .students .container .stud-cont .persen {
        flex-direction: column;
        text-align: center;
    }
    .students .container .stud-cont img {
        right: 118px;
        top: 20px;
        /* position:sticky; */
    }
}
.students .container .stud-cont .text p {
    padding: 20px;
    font-weight: bold;
    line-height: 1.6;
}
.students .container .stud-cont .text hr {
    margin-bottom: 10px;
}

.students .container .stud-cont .persen:hover img {
    transform: translateY(-10px);
}
.students .container .stud-cont .persen:hover {
    background-image: url("../images/gradienta-LeG68PrXA6Y-unsplash.jpg");
}
/* End students */
/* Start Trips */
.befroe-trips {
    background-image: url("../images/kalfia.jpg");
    background-size: cover;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.befroe-trips::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    top: 0;
    left: 0;
}
@media (max-width: 767px) {
    .befroe-trips {
        height: fit-content;
    }

}
.befroe-trips .trips {
    background-color: rgba(0, 0, 255, 0.42);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    z-index: 2;
    padding: 50px;
    row-gap: 30px;
}
.befroe-trips .trips .numbers {
    text-align: center;
}
.befroe-trips .trips .numbers i {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 20px;
    position: relative;

}
.befroe-trips .trips .numbers i::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: var(--thee-color);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.befroe-trips .trips .numbers h2 {
    font: 45px bold;
    color: var(--main-color);
}
.befroe-trips .trips .numbers p {
    color: var(--main-color);
    font-size: 19px;
    margin-top: 20px;
}
/* End Trips */
/* Start About */

.about .container .ourskills .skills p {
    font-size: 20px;
    font-weight: bold;
}
.about .container .ourskills .skills .our {
    width: 100%;
    height: 30px;
    background-color: var(--shadow-color);
    margin-bottom: 30px;
    border-radius: 10px;
    z-index: -1;
}
.about .container .ourskills .skills .our span {
    width: 80%;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
    display: block;
    position: relative;
}
.about .container .ourskills .skills .our span::before {
    content: "80%";
    width: 40px;
    height: 100%;
    background-color: var(--thee-color);
    left: -20px;
    top: -35px;
    position: absolute;
    border-radius: 10px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.about .container .ourskills .skills .our span::after {
    content: "";
    border-top: solid 5px var(--thee-color);
    border-bottom: solid 5px transparent;
    border-right: solid 5px transparent;
    border-left: solid 5px transparent;
    position: absolute;
    left: -4px;
    top: -5px;
}
.about .container .ourskills .skills:nth-child(2) .our span {
    width: 65%;
}
.about .container .ourskills .skills:nth-child(2) .our span::before {
    content: "65%";
}
.about .container .ourskills .skills:nth-child(3) .our span {
    width: 48%;
} 
.about .container .ourskills .skills:nth-child(3) .our span::before {
    content: "48%";
}
.about .container .ourskills .skills:nth-child(4) .our span {
    width: 90%;
}
.about .container .ourskills .skills:nth-child(4) .our span::before {
    content: "90%";
}
.about .container .ourskills .skills:nth-child(5) .our span {
    width: 97%;
}
.about .container .ourskills .skills:nth-child(5) .our span::before {
    content: "97%";
}
/* End About */
/* Start Footer */
.footer {
    padding: 30px;
    background-image: linear-gradient(var(--main-color), var(--scand-color));
    display: flex;
    justify-content: space-around;
}
.footer .icon i {
    color: #f5f5f5;
    font-size: 25px;
}
.footer .icon i:hover {
    box-shadow: 0 0 8px 1px #f5f5f5;
}
.footer a {
    text-decoration: none;
    font-size: 25px;
    color: #141f1e;
}
.footer a:hover {
    text-decoration: underline;
} 
.footer .copy {
    font-weight: bold;
}
.footer .copy span {
    color: var(--thee-color);
    font-size: 20px;
    font-weight: bold;
}

/* End Footer */